<div class="info">
    <div class="flex">
        <div class="i1">
            <p>None</p>
        </div>
        <div class="i1">
            <p>None</p>
        </div>
        <div class="i1">
            <p>None</p>
        </div>
        <div class="i1">
            <p>None</p>
        </div>
        <div class="i1">
            <p>None</p>
        </div>
    </div>
</div>